body{
    background-color: rgb(156, 159, 161);
}


h1{
    font-size: 20px;
    margin-top: 0px;
}

a{
    text-decoration: none;
    color: black;
    font-size: 25px;
}
ul{
    margin: 0 0 0 0;
}

li{
    list-style-type: none;
}






.header-top{



    margin-left: auto;
    margin-right: auto;

    width: 1300px;
    height: 100px;
text-align: center;
}

.header-top div{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header-button{

background-color: rgb(134, 133, 131);

    margin-left: auto;
    margin-right: auto;

    width: 1300px;
    height: 200px;
text-align: center;
}


.nav-list{
    display: flex;
flex-wrap: wrap;
justify-content: space-around;
}


.nav-li{

    background-color: aliceblue;
margin: 10px 5px 10px 5px;
    width: 200px;
    height: 50px;
}







.section-content{
   
    margin-top: 50px;

    display: flex;
justify-content: space-between;



    width: 1300px;
    margin-left: auto;
    margin-right: auto;
}


.aside-content{
   background-color: rgb(119, 119, 119);
    width: 350px;
  
}

.aside-list{
 text-align: center;
 width: 300px;
}

.aside-li{
    border: 1px solid;
    border-color: rgb(13, 15, 14);
border-top-right-radius: 90px ;
border-bottom-left-radius:90px ;
    height: 30px;
    text-align: center;
    margin: 0px 0 15px 0;

}



.content{
    width: 800px;
}