body{

}

main{
    background-image: url(https://besthqwallpapers.com/Uploads/8-4-2020/127978/thumb2-html5-black-logo-programming-language-grid-metal-background-html5-artwork.jpg);
    background-size: 100%;
    background-position: top center;
  margin: 0 -8px 0 -8px;
}


p{
  color: aliceblue;
  font-size: 25px;
}


h1{
    color: aliceblue;
    font-size: 40px;
}
h2{
    color: aliceblue;
}
a{
    text-decoration: none;
    color: aliceblue;
}

iframe{
    max-width: 100%;
}

ul{
    padding: 0 0 0 0 ;
    margin: 0 0 0 0 ;
}


li{
    list-style-type: none;
}



.li-list{

    min-width: 180px;
    margin:  8px 0 8px 0;
    padding-left: 10px;
    background-color: rgba(83, 69, 83, 0.452);
}









header{
    background-color: rgba(48, 44, 54, 0.959);
    margin: 0 -8px 0 -8px;
    height: 150px;

}

.header-top a {
    display: flex;

}
.header-button{

}

.container{
max-width: 1200px ;
margin-left: auto;
margin-right: auto;
flex-wrap: wrap;

}

section{
    margin: 0px 0 50px 0;
}


.block{
    display: flex;
    justify-content: space-around;
    flex-wrap:wrap ;
}



