body{
    width: 100%;
    margin: 0 0;
    background-color: rgba(121, 119, 118, 0.322);
}
h1{
    margin: 0 0;
    padding-top: 15px;
    font-size: 45px;
  color: rgb(216, 216, 216);
}

ul{
    margin: 0 0;
   padding: 0 0;
}
li{
    
    list-style-type:none ;
}




.panel_1{
    margin: 0 0;

height: 90px;
text-align: center;
background-color: rgb(7, 7, 7);
}
.panel_2{
    margin: 0 0;
height: 90px;
text-align: center;
background-color: rgba(117, 117, 117, 0.712);
display: flex;
}



.scroll_menu{

}
.box_csroll{
    margin: 0 0;
  
    display: flex;
    justify-content: space-around;
  flex-wrap: wrap;
 align-items: center;

}
.element_scroll{
    display: block;
margin: 10px 25px 10px 25px;
    width: 150px;
    height: 25px;
   
    background-color: rgb(136, 109, 120);

}
section{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}





.bloc_list{
    display: flex;
    justify-content: center;
margin: 30px 30px;
    width: 200px;
}


.li-list{
    padding: 5px 0 5px 0;
}