
body{
    background-color: black;
}

main{
 background-image: url(https://besthqwallpapers.com/Uploads/8-4-2020/127978/thumb2-html5-black-logo-programming-language-grid-metal-background-html5-artwork.jpg);
 background-repeat: no-repeat;
background-size: 130%;
background-position: center;
}

p{
    color: aliceblue;
}
h1{
    font-size: 20px;
    margin-top: 0px;
}


h2{
    text-align: center;
    color: aliceblue;
    font-size: 30px;
    margin-top: 0px;
}

a{
    text-decoration: none;
    color: rgb(247, 247, 247);
    font-size: 25px;
}
ul{
    margin: 0 0 0 0;
}

li{
    list-style-type: none;
}


/*   Можно копировать               */

.header-top{
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
   text-align: center;

}

div.scrollmenu {
    display: flex;
   
    text-align: start;
    background-color: rgba(0, 0, 0, 0.507);
    overflow: auto;
    white-space: nowrap;
    max-width: 100%;
    justify-content: space-between;
}
div.scrollmenu:hover {
    background-color: rgba(91, 91, 94, 0.397);
}


div.scrollmenu a {
    min-width: 100px;
  
    display: inline-block;
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

div.scrollmenu a:hover {
    background-color: rgb(155, 154, 154);
}



.header-bottom{



    margin-left: auto;
    margin-right: auto;

    max-width: 1200px;
   
text-align: center;
}



/*   Можно копировать               */




section.container{
 
   
}






/*   Можно копировать               */





.content_box{
    min-width: 70%;
text-align: center;
    margin-left: 25px;
    padding-top: 50px;

}
iframe{

       max-width: 90%;
       max-height: 200px;
    }
    
    

.content{
    margin-left: auto;
    margin-right: auto;

    margin-top: 25px;
   max-width: 1200px;
   background-color: rgba(199, 199, 199, 0.274);
    display: flex;
      justify-content: start;
   
}

.content-list{
    max-width: 300px;
}




.aside-content{
   background-color: rgba(148, 147, 147, 0.555);
    min-width: 25% ;
  max-width:300px;
}

.aside-list{

    margin: 0 0 0px -40px;
}

.aside-li{
    border: 1px solid;
    border-color: rgb(13, 15, 14);
border-radius: 15px;
    height: 30px;
    text-align: left ;
    margin: 0px 0 15px 0;

}



.aside-li:hover{
    background-color: rgba(151, 150, 180, 0.452);
}

.aside-li a{
    padding-left: 15px;
}







@media screen and (max-width:1200px){
    .container{
    width :1140px ;
    

    }


#nonepc{
    display: none;

}


}

@media screen and (max-width:1199px){
    .container{
        width:960px ;
    }
}


@media screen and (max-width:991px){
    .container{
        width:720px;
    }
}



@media screen and (max-width:767px){
    .container{
        width:540px;
    }
}

@media screen and (max-width:575px){


.container{

    width:100%;
    padding: 0 1px;
   
}

}